.toolbar{
    &__ {
        &toggleTrashedMessages {
            margin-left: 20px;
            margin-bottom: 10px;
            display: inline-flex;
            margin-top: 15px;
            font-size:smaller;
            height: 60px;
        }
        &label { 
            padding: 3px;
        }
        &trashButton { 
            width: 150px;
            border-radius: 10px;
            height: auto;
            border: 2px solid lightgrey;
            margin-left: -17px;

        }
        &trashButton:hover {
            background-color: #FA8072;
        }  
        &form { 
            margin-left: inherit;    
            margin-top:10px;
        }
    }
}

#toolbar__starred { 
    margin-left: 20px;
    margin-bottom: 10px;
}


